/* 
    Created on : Jan 19, 2016, 9:31:04 AM
    Author     : Dauda

*/

.margin-top-minus-15{margin-top: -15px!important;}

.ui-datatable table {
   table-layout: auto !important;
}

input[type=file]{
    display: inline;
}

.text-rotate{
    -webkit-transform: rotate(271deg);
    -moz-transform: rotate(271deg);
    -o-transform: rotate(271deg);
    writing-mode: lr-tb;

    margin-top: 200px;
}

.npra-bg{ background: #2FB153!important;}
.npra-color{color: #2FB153!important;}
.white-color{color:#ffffff!important;}
.white-bg{background:#ffffff!important;}
.black-bg{color:#000!important}
.black-color{color:#000!important}
.blue{color:#3366ff!important}
.orange{color:#FF8533!important}
.yellow-bg{background: #D1B81E!important;}
.red,.required{color:#FF3300!important}

label { font-weight: 400;}
.curive-font { font-family: serif!important;}
.required{font-size: smaller!important;}
.bold{font-weight: bold!important;}
.btn-success {
    color: #fff;
    background-color: #2FB153;
    border-color: #fff;
}
.transparent-green{
    background-color: rgba(0, 205, 46, 0.2);
    background: rgba(0, 205, 46, 0.2);
    color: rgba(0, 205, 46, 0.2);
}
.transparent-yellow{
    background-color: rgba(217, 253, 33, 0.2);
    background: rgba(0, 205, 46, 0.2);
    color: rgba(0, 205, 46, 0.2);
}

.hr-style {
    width: 300px;
    height: 120%;
    margin-left: auto;
    margin-right: auto;
    background: #3366ff;
}


/**.jqplot-target{background: #fff!important;}*/
/*.jqplot-axis{background: yellow!important;}*/
/*.jqplot-event-canvas{background: #fff!important;}*/
.jqplot-title{
    color: #eeffdd;
}
.jqplot-x axis-label{
    color: #eeccaa; 
}
.jqplot-yaxis-label{
    color: #eeccaa;
}
.jqplot-series-canvas {
    background:white;

}
.jqplot-event-canvas{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.jqplot-grid-canvas{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
}

.jqplot-event-canvas{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
}


.jqplot-data-label{color: #fff!important}

.jqplot-cursor-tooltip{color: #fff!important}

.jqplot-highlighter-tooltip, .jqplot-canvasOverlay-tooltip{border: none;}

/*.table.jqplot-table-legend{background: red!important;}*/

/*.jqplot-target{color: red!important}*/

/*.jqplot-table-legend{background: red!important;}*/



/*datatable styles*/
td label{
    font-size: smaller;
}
td ,td a ,td label{
    font-size: smaller;
    font-family:Helvetica, sans-serif;

}
.ui-datatable-header,.ui-column-title{
    font-size: small!important;

}

.ui-column-title{
    float: left;
    font-family:'Open Sans',"Trebuchet MS", Helvetica, sans-serif;
    color: #121515!important;
    font-size: smaller!important

}

/*end datatable styles*/

.box-info h2 {
    padding: 10px 10px 10px 10px;
    margin: 5px -15px 20px -15px;
    font-weight: 600;
    font-size: 14px;
    display: block;
    color: #5b5b5b;
    border-bottom: 1px solid #ddd;
}
.ui-inputfield {width: 100%!important;}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 15px;
    font-weight: 500;
    color: #2FB153;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #999;
    background-color: #fff;
    /*border-radius: 10px;*/
}
.box-info {
    position: relative;
    padding: 12px;
    padding-top: 0px;
    background: #fff;
    color: #5b5b5b;
    margin-bottom: 20px;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
}
/*.ui-icon {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}*/