/*=========================================================================Lanceng - Responsive Admin TemplateExclusive on Wrapbootstrap (http://wrapbootstrap.com)AuthorIsoh Design StudioURLhttp://isohdesign.comDesignerAri Rusmanto (http://twitter.com/arirusmanto)Version1.1.1Update ReleasedMarch 13, 2014=========================================================================*/


/*=========================================================================BOOTSTRAP LITLE CUSTOM=========================================================================*/


/* Import font from Google Font (Open sans) */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/** Body style reset **/

body {
    background: #fff;
    padding-top: 50px;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    font-family: 'Open Sans', Arial;
}


/** Heading style reset **/

h1,
h2,
h3,
h4,
h5,
h6,td {
    font-family: 'Open Sans', Arial;
}


/** Make container auto **/

.container {
    width: auto;
}


/** Navbar style reset **/

blockquote.reply-message {
    font-size: 14px;
}

.modal {
    z-index: 9999996;
}

.modal-backdrop {
    z-index: 9999995;
}

.navbar {
    margin: 0 0 0 -15px;
    z-index: 999993;
    border-radius: 0;
}

.navbar-collapse {
    padding: 0;
    margin: 0;
}

.navbar-default {
    background-color: #fff;
    border: none;
}

.nav.navbar-nav.top-navbar li {
    position: relative;
}

.nav.navbar-nav.top-navbar li a {
    cursor: pointer;
    color: #4C5264;
}

.nav.navbar-nav.top-navbar li span.absolute {
    position: absolute;
    top: 5px;
    left: 25px;
    border-radius: 10px;
    padding: 5px;
    z-index: 999;
}

.dropdown-menu {
    top: 97%;
    z-index: 999992;
}

.dropdown-menu.dropdown-message ul {
    white-space: inherit;
}

.dropdown-menu.dropdown-message li a {
    word-wrap: normal|break-word;
    white-space: inherit;
    width: 300px;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu.dropdown-message li.dropdown-footer a {
    display: block;
    padding: 10px 20px 6px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #999999;
    border-top: 1px solid #ddd;
    border-bottom: none;
}

.dropdown-menu.dropdown-message li:hover.dropdown-footer a {
    background: #fff;
}

.dropdown-menu.dropdown-message li p {
    font-size: 11px;
}

.dropdown-menu.dropdown-message li p i {
    color: #65BD77
}

.dropdown-menu.dropdown-message .dropdown-message-scroll {
    padding: 0px;
}

.dropdown-menu.dropdown-message .dropdown-message-scroll li {
    padding: 5px 20px;
}

.dropdown-menu.dropdown-message .dropdown-message-scroll a,
.dropdown-menu.dropdown-message .dropdown-message-scroll strong {
    text-decoration: none;
    border-bottom: none;
}

.dropdown-menu.dropdown-message .dropdown-message-scroll .unread {
    background: #FFFCE0;
}

.dropdown-menu.dropdown-message .dropdown-message-scroll a:hover {
    color: #000
}

.dropdown-header.notif-header {
    font-size: 14px;
    padding: 5px 20px 3px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555555;
    background-color: #fafafa;
    border-bottom: none;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555555;
    background-color: #fafafa;
}


/** Breadcrumb **/

.breadcrumb {
    padding: 0;
    background: transparent;
    font-size: 12px;
    margin: 0;
}


/** Progress bar **/

.progress-bar {
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0);
}

.progress.progress-xs {
    height: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress.progress-xs.for-modal {
    margin-top: 10px;
    margin-bottom: 20px;
}

.progress.progress-xs .progress-bar {
    font-size: 11px;
    line-height: 16px;
    color: #ffffff;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0);
}

.progress.progress-xs.progress-striped .progress-bar {
    background-size: 10px 10px;
}

.progress.progress-sm {
    height: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress.progress-sm.progress-striped .progress-bar {
    background-size: 15px 15px;
}


/** Tables **/

.table > thead > tr > th {
    vertical-align: middle;
    /*border-bottom: 1px solid #dddddd;*/
}


/** Form **/

.form-control {
    font-size: 13px;
    border-radius: 0;
    border-color:;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.form-control:focus {
    border-color: #dadada;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
}

.form-group .checkbox {
    margin-left: 0;
    padding-left: 0;
}


/** Button **/

.btn {
    border-radius: 2px;
}


/** List group **/

.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}


/** Alert **/

.alert {
    border-radius: 0px;
}


/*=========================================================================BASIC SELECTOR=========================================================================*/


/*===MISC===*/

span.new-circle {
    border-radius: 10px;
    padding: 2px 5px;
    font-weight: 400;
}

img.xs-avatar {
    width: 40px;
    padding: 3px;
    background: #fff;
    border: 1px solid #ddd;
    margin: 0px 4px 0 0;
}

img.ava-dropdown {
    float: left;
    margin: 7px 10px 0 0;
}

i.i-xs {
    font-size: 10px;
}

.clear {
    clear: both
}


/** LOADING ANIMATION **/

#loading {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999999999;
    background: #fff;
}

.spinner {
    margin: 0 auto;
    width: 36px;
    height: 36px;
    position: relative;
}

.cube1,
.cube2 {
    background-color: #1B1E24;
    width: 7.5px;
    height: 7.5px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: cubemove 2s infinite ease-in-out;
    animation: cubemove 2s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes cubemove {
    25% {
        -webkit-transform: translateX(24px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(24px) translateY(24px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(24px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes cubemove {
    25% {
        transform: translateX(24px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(24px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(24px) translateY(24px) rotate(-179deg);
        -webkit-transform: translateX(24px) translateY(24px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(24px) translateY(24px) rotate(-180deg);
        -webkit-transform: translateX(24px) translateY(24px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(24px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(24px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

.loading-inner {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
}


/*===BUTTONS AND ICONS COLOR===*/

.btn-facebook {
    background: #45619D;
    border-color: #4D6CAD;
}

.btn-facebook:hover {
    background: #395289;
    border-color: #4D6CAD;
}

.btn-twitter {
    background: #00ACEE;
    border-color: #00B7FC;
}

.btn-twitter:hover {
    background: #03A0DE;
    border-color: #00B7FC;
}

.btn-gplus {
    background: #D54636;
    border-color: #B22E21;
}

.btn-gplus:hover {
    background: #BF392E;
    border-color: #B22E21;
}

.btn-vimeo {
    background: #1BB6EC;
    border-color: #0AA0D3;
}

.btn-vimeo:hover {
    background: #12ADE3;
    border-color: #0AA0D3;
}

.btn-pinterest {
    background: #CD1F28;
    border-color: #B70F17;
}

.btn-pinterest:hover {
    background: #C9121A;
    border-color: #B70F17;
}

.btn-instagram {
    background: #4E3D35;
    border-color: #392C24;
}

.btn-instagram:hover {
    background: #483931;
    border-color: #392C24;
}

i.success {
    color: #65BD77;
}

i.warning {
    color: #F39C12
}

i.info {
    color: #3498DB
}

i.danger {
    color: #E85344
}


/*===MASTER PAGE SELECTORS===*/

.page {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.rows,
.col,
.page {
    overflow: hidden;
    position: absolute;
}

.rows {
    left: 0;
    right: 0;
}

.rows-content-header {
    left: 0;
    right: 0;
    position: absolute;
}

.col {
    top: 0;
    bottom: 0;
}

.scroll-x {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.scroll-y {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.fill,
.pane {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.pane {
    display: none;
}


/*===LEFT COLUMN (SIDEBAR)===*/

.left {
    width: 225px;
    background: #1B1E24;
    margin-left: -15px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
}

.header.sidebar {
    background: #000;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0px;
}

.header.sidebar .logo {
    padding: 14px 20px;
    color: #fff;
}

.header.sidebar .logo img {
    width: 30px;
    margin-right: 2px;
    border-radius: 4px;
    margin-top: -4px;
}

.header.sidebar .logo h1 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Open Sans', Arial;
    font-weight: 600;
    letter-spacing: -1px;
}

.header.sidebar .logo h1 a {
    color: #8B91A0;
}

.header.sidebar .logo h1 a:hover {
    text-decoration: none;
    color: #fff;
}


/*===LEFT COLUMN (SIDEBAR USER PROFILE)===*/

.sidebar-inner {}

.sidebar-inner .media {
    padding: 0px 30px 15px;
    margin: 20px -15px 0 -15px;
    border-bottom: 1px solid #1F2429;
    color: #fff;
}

.sidebar-inner .media a {
    cursor: pointer;
    font-size: 11px;
    margin: 0 5px 0 0;
    color: #8B91A0;
}

.sidebar-inner .media a:hover {
    color: #fff;
    text-decoration: none;
}

.sidebar-inner .media .pull-left {
    margin: 3px 10px 0 3px;
}

.sidebar-inner .media .media-object {
    width: 57px;
}




/*===LEFT COLUMN (SIDEBAR VERTICAL MENU)===*/

#sidebar-menu,
#sidebar-menu ul,
#sidebar-menu li,
#sidebar-menu a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-size: 14px;
    position: relative;
}

#sidebar-menu a {
    line-height: 1.3;
}

#sidebar-menu {
    width: 100%;
    border-top: 1px solid #1F2429;
}

#sidebar-menu > ul > li > a {
    font-size: 14px;
    display: block;
    color: white;
    border-left: 4px solid transparent;
    padding: 10px 15px;
    -webkit-transition: All 0.25s ease;
    -moz-transition: All 0.25s ease;
    -o-transition: All 0.25s ease;
}

#sidebar-menu > ul > li > a:hover {
    color: #fff;
    background: #121515;
    padding-left: 20px;
    border-left-color: #FCC14D;
}

#sidebar-menu > ul > li > a > i {
    margin-right: 5px;
    color: #D3D6DB;
}

#sidebar-menu > ul > li > a > i.fa.fa-angle-double-down.i-right {
    opacity: 0.45
}

#sidebar-menu > ul > li > a > i.i-right {
    margin: 3px 0 0 0;
    float: right;
}

#sidebar-menu > ul > li > a > i.yellow.i-right {
    color: #EBC85E;
}

#sidebar-menu > ul > li > a:hover {
    text-decoration: none;
}

#sidebar-menu > ul > li.active > a {
    color: #fff;
    background: #1E7234;
}

/*active menu*/
#sidebar-menu > ul > li.active > a:hover {
    color: #fff;
    background: #121515;
    padding: 10px 15px;
}

#sidebar-menu > ul > li.selected > a {
    color: #fff;
    background: #1E7234;
    padding-left: 20px;
}

#sidebar-menu > ul > li > a span.label {
    float: right;
}

#sidebar-menu > ul > li > a span.label.span-left {
    float: none;
    margin-left: 5px;
}

#sidebar-menu span.cnt {
    position: absolute;
    top: 8px;
    right: 15px;
    padding: 0;
    margin: 0;
    background: none;
}


/*===LEFT COLUMN (SIDEBAR VERTICAL SUBMENU)===*/

#sidebar-menu ul ul {
    display: none;
    border-bottom: 1px solid #121515;
    background: #22262E;
}

#sidebar-menu ul ul.visible {
    display: block;
}

#sidebar-menu ul ul li {
    border-top: 0;
}

#sidebar-menu ul ul a {
    padding: 10px 25px;
    display: block;
    color: #D3D6DB;
    font-size: 13px;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
}

#sidebar-menu ul ul a:hover {
    color: #fff;
    background: #121515;
}

#sidebar-menu ul ul li.active a {
    color: #fff;
    background: #121515;
    background: red;
}

#sidebar-menu ul ul a i {
    margin-right: 5px;
}


/*===LEFT COLUMN (SIDEBAR FOOTER)===*/

.footer.rows {
    height: 50px;
    bottom: 0;
    background: #0F1215;
    color: #E8EAED;
    padding: 15px;
}

.footer.rows .progress.progress-xs {
    margin: 9px 70px 9px 0;
    overflow: visible;
    position: relative;
}

.footer.rows .progress.progress-xs .progress-precentage {
    display: block;
    position: absolute;
    right: -20px;
    top: -12px;
    padding: 7px 5px;
    border-radius: 50%;
    background: #212121;
    color: #8B91A0;
}

.footer.rows .progress.progress-xs .btn {
    display: block;
    position: absolute;
    right: -70px;
    top: -14px;
    background: #212121;
    color: #8B91A0;
    border: none;
}


/*===RIGHT COLUMN (CONTENT)===*/

.right {
    left: 225px;
    right: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
}


/*===RIGHT COLUMN (CONTENT HEADER / NAV)===*/

.header.rows {
    height: 50px;
}

.header.rows-content-header {
    height: 50px;
}

.header.content {
    background: #FFFFFF;
    border-bottom: 1px solid #E5E9EC
}


/*===RIGHT COLUMN (CONTENT BODY)===*/

.body.rows {
    top: 50px;
    bottom: 50px;
}

.body.content.rows {
    top: 50px;
    bottom: 0px;
    background: #E5E9EC;
    padding: 20px;
    font-size: 13px;
}

.button-menu-mobile {
    display: none;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 99999;
    padding: 10px 15px;
    height: 50px;
    font-size: 14px;
    background: #1B1E24;
    color: #A5B2BC;
    border: none;
}

footer {
    padding: 20px 0;
    font-size: 12px;
    border-top: 1px solid #B9C1CB;
    margin-top: 40px;
}


/*===RIGHT COLUMN (PAGE HADING / PAGE TITLE)===*/

.page-heading {
    margin: 0px 0 25px;
    padding: 5px 0;
}

.page-heading h1 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 24px;
}


/*===BOXES===*/

.box-info {
    position: relative;
    padding: 15px;
    background: #fff;
    color: #5b5b5b;
    margin-bottom: 20px;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
}

.box-info:hover {
    color: #393E48;
}

.box-info:before,
.box-info:after {
    display: table;
    content: " ";
}

.box-info:after {
    clear: both;
}

.box-info .des-thumbnail {
    padding: 20px;
}

.box-info .img-wrap {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.box-info .img-wrap img {
    width: 100%;
}

.box-info .icon-box {
    width: 65px;
    font-size: 30px;
    display: block;
    float: left;
}

.box-info h2 {
    padding: 0 10px 10px 10px;
    margin: 5px -15px 20px -15px;
    font-weight: 600;
    font-size: 14px;
    display: block;
    color: #5b5b5b;
    border-bottom: 1px solid #ddd;
}

.box-info h2.no-style {
    padding: 0px;
    margin: 20px 0px 10px 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    border-bottom: none;
}

.box-info.box-messages h2 {
    border-bottom: none;
}

.box-info .statistic-chart {
    padding: 0 0 30px 0;
}

.box-info.full {
    padding: 0px;
}

.box-info.full .box-footer {
    padding: 20px 20px 15px 20px;
}

.box-info.full .box-footer a,
.box-info.full .box-footer a:hover {
    color: #1B1E24;
    text-decoration: none;
}

.box-info .nav-tabs {
    background: #1B1E24;
}

.box-info .nav-tabs > li > a {
    margin-right: 0px;
    line-height: 1.428571429;
    font-size: 14px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-radius: 0px 0px 0 0;
    margin: 0;
    color: #8B91A0;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
}

.box-info .nav-tabs > li > a i {
    color: #fff;
}

.box-info .media-list {
    margin-top: 30px;
}

.box-info .media-list a {
    color: #1B1E24;
}

.box-info .media-list a:hover {
    color: #212121;
    text-decoration: none;
}

.box-info .media-list .media {
    padding: 5px 20px;
    border-bottom: 1px solid #eaeaea;
}

.box-info .media-list li:last-child.media {
    border-bottom: none;
}

.box-info .media-list .media .media-heading a {
    font-size: 14px;
    font-weight: 600;
    color: #1B1E24;
    margin-right: 5px;
}

.box-info .media-list .media .media-heading small {
    color: #65BD77;
    font-size: 11px;
}

.box-info .media-list .media p {
    color: #909090;
}

.box-info .media-list .media .media-object {
    width: 50px;
}

.box-info .media-list {}

.box-info .nav-tabs > li.active > a,
.box-info .nav-tabs > li.active > a:hover,
.box-info .nav-tabs > li.active > a:focus {
    cursor: default;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    background-color: #ffffff;
    color: #1B1E24;
}

.box-info .nav-tabs > li.active > a i,
.box-info .nav-tabs > li.active > a:hover i,
.box-info .nav-tabs > li.active > a:focus i {
    color: #212121;
}

.box-info .additional-box {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 99999;
}

.box-info .additional-btn {
    position: absolute;
    top: 17px;
    right: 15px;
    z-index: 99991;
}

.box-info .btn-group {
    z-index: 9999;
}

.box-info table .btn-group {
    z-index: 1;
}

.box-info .additional-btn .dropdown-menu {
    z-index: 999999;
}

.box-info .additional-btn a.additional-icon {
    color: #909090;
    margin-left: 10px;
    cursor: pointer;
}

.box-info .additional-btn a:hover.additional-icon {
    text-decoration: none;
}

.box-info.success {
    background: #65BD77;
    color: #fff;
}

.box-info.success h2 {
    color: #2C7439;
    border-bottom-color: #3B934B;
}

.box-info.success:hover {
    color: #DEFFE5;
}

.box-info.success .additional-btn a.additional-icon {
    color: #3B934B;
}

.box-info.success .additional-btn a:hover.additional-icon {
    color: #2C7439;
}

.box-info.success .text-box h3 {
    color: #215F2E
}

.box-info.success .progress-bar-success {
    background-color: #215F2E;
}

.box-info.success i.success {
    color: #215F2E;
}

.box-info.danger {
    background: #D9534F;
    color: #fff;
}

.box-info.danger h2 {
    color: #791C1A;
    border-bottom-color: #791C1A;
}

.box-info.danger:hover {
    color: #fff;
}

.box-info.danger .additional-btn a.additional-icon {
    color: #791C1A;
}

.box-info.danger .additional-btn a:hover.additional-icon {
    color: #791C1A;
}

.box-info.danger .text-box h3 {
    color: #791C1A
}

.box-info.danger .progress-bar-danger {
    background-color: #791C1A;
}

.box-info.danger i.danger {
    color: #791C1A;
}

.box-info.info {
    background: #4393D8;
    color: #fff;
}

.box-info.info h2 {
    color: #15558B;
    border-bottom-color: #15558B;
}

.box-info.info:hover {
    color: #DEFFE5;
}

.box-info.info .additional-btn a.additional-icon {
    color: #15558B;
}

.box-info.info .additional-btn a:hover.additional-icon {
    color: #15558B;
}

.box-info.info .text-box h3 {
    color: #15558B
}

.box-info.info .progress-bar-info {
    background-color: #15558B;
}

.box-info.info i.info {
    color: #15558B;
}

.box-info.warning {
    background: #F7CB17;
    color: #fff;
}

.box-info.warning h2 {
    color: #9D5D03;
    border-bottom-color: #9D5D03;
}

.box-info.warning:hover {
    color: #DEFFE5;
}

.box-info.warning .additional-btn a.additional-icon {
    color: #9D5D03;
}

.box-info.warning .additional-btn a:hover.additional-icon {
    color: #9D5D03;
}

.box-info.warning .text-box h3 {
    color: #9D5D03
}

.box-info.warning .progress-bar-warning {
    background-color: #9D5D03;
}

.box-info.warning i.warning {
    color: #9D5D03;
}

.box-info .additional {
    padding: 0 15px;
    background: #fff;
    color: #909090;
    margin: 15px -15px -15px -15px;
}

.box-info .additional .list-box-info {
    margin: 0 -15px;
}

.box-info .additional .list-box-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.box-info .additional .list-box-info ul li {
    background: #fff;
    padding: 15px 20px;
    color: #909090;
    border-bottom: 1px solid #ddd;
}

.box-info .additional .list-box-info ul li span.label {
    float: right;
    font-size: 13px;
}

.box-info .additional .list-box-info ul li:last-child {
    border-bottom: 1px solid #fff;
}

.box-info.full h2 {
    padding: 15px;
    margin: 5px 0px 20px 0px;
}

.box-info table {
    margin: 0;
}

.box-info table tr th,
.box-info table tr td {
    padding-left: 15px;
    padding-right: 15px;
}

.box-info .text-box h3 {
    padding: 0;
    margin: 5px 0;
    font-weight: 600;
    font-size: 20px;
    display: block;
    color: #4C5264
}

.box-info .text-box p {
    font-size: 14px;
}


/*=========================================================================WIDGET SELECTOR=========================================================================*/


/*===QUICK POST===*/

p.quick-post {
    margin: 10px 5px;
}

p.quick-post i {
    color: #909090;
    margin: 5px;
    cursor: pointer;
}

p.quick-post.message i {
    margin: 0 2px;
}

p.quick-post.message {
    margin: 3px 0px;
    padding: 0;
    text-align: right;
}


/*===CHAT===*/

.chat-widget {
    height: 300px;
    margin-bottom: 20px;
}

form.input-chat {
    margin-top: 20px;
}

.chat-widget .media-list {
    margin: 0;
}

.chat-widget .media-list .media {
    border-bottom: none;
}

.chat-widget .media-list .media .media-object {
    width: 50px;
    padding: 4px;
    border: 1px solid #eaeaea
}

.chat-widget .media-list .media .media-body {
    background: #f7f7f7;
    border-radius: 3px;
    padding: 10px;
    color: #677179;
}

.chat-widget .media-list .media .media-body p.time {
    text-align: right;
    color: #909090;
    font-size: 11px;
    font-style: italic;
}

.chat-widget .media-list .media .media-body.success {
    background: #EDFFED;
}

.chat-widget .media-list .media .media-body.warning {
    background: #FFFCE0;
}

.chat-widget .media-list .media .media-body.danger {
    background: #FFE8E8;
}

.chat-widget .media-list .media .media-body.info {
    background: #E5F5FF;
}


/*=========================================================================ELEMENT SELECTOR=========================================================================*/


/** Typography **/

.the-notes {
    padding: 15px 15px 15px 30px;
    border-left: 4px solid #909090;
    margin-bottom: 20px;
}

.the-notes.default {
    background: #fff;
}

.the-notes.success {
    background: #fff;
    border-left-color: #65BD77;
}

.the-notes.warning {
    background: #fff;
    border-left-color: #F7CB17;
}

.the-notes.danger {
    background: #fff;
    border-left-color: #D9534F;
}

.the-notes.info {
    background: #fff;
    border-left-color: #4393D8;
}

.the-notes.success h4 {
    color: #65BD77;
}

.the-notes.warning h4 {
    color: #F7CB17;
}

.the-notes.danger h4 {
    color: #D9534F;
}

.the-notes.inf h4 {
    color: #4393D8;
}


/*=========================================================================FORM SELECTOR=========================================================================*/


/** Form Element **/

.selectpicker {
    border-radius: 0;
    font-size: 13px;
}


/** Form Wizard **/

#myWizard {}

.easyWizardSteps {
    list-style: none;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    background: #fafafa;
}

.easyWizardSteps li {
    font-size: 18px;
    display: inline-block;
    padding: 10px 20px;
    color: #B0B1B3;
    margin-right: 0px;
}

.easyWizardSteps li span {
    font-size: 20px;
    padding: 2px 10px;
    border-radius: 50%;
    margin-top: -5px;
}

.easyWizardSteps li.current span {
    background: #65BD77;
    color: #fff;
}

.easyWizardSteps li.current {
    color: #2C7439;
    background: #fff;
}

.easyWizardButtons {
    overflow: hidden;
    padding: 10px;
}

.easyWizardButtons button,
.easyWizardButtons .submit {
    cursor: pointer
}

.easyWizardButtons .prev {
    float: left
}

.easyWizardButtons .next,
.easyWizardButtons .submit {
    float: right
}

.notes {
    padding: 15px;
    border: 1px dashed #ddd;
}

section.step {
    padding: 0 30px;
}


/*=========================================================================TABLE SELECTOR=========================================================================*/


/*=========================================================================GALLERY SELECTOR=========================================================================*/

.gallery-wrap {
    margin: 10px -10px;
}

.gallery-wrap:before,
.gallery-wrap:after {
    display: table;
    content: " ";
}

.gallery-wrap:after {
    clear: both;
}

.gallery-wrap .column {
    float: left;
    width: 20%;
    margin: 0;
    padding: 0;
}

.gallery-wrap .column-4 {
    float: left;
    width: 25%;
    margin: 0;
    padding: 0;
}

.gallery-wrap .column-3 {
    float: left;
    width: 33.33333333333333%;
    margin: 0;
    padding: 0;
}

.gallery-wrap .column .inner,
.gallery-wrap .column-4 .inner,
.gallery-wrap .column-3 .inner {
    margin: 10px;
    position: relative;
    overflow: hidden;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
}

.gallery-wrap .column .inner:hover,
.gallery-wrap .column-4 .inner:hover,
.gallery-wrap .column-3 .inner:hover {
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
}

.gallery-wrap .column .inner a .img-wrap,
.gallery-wrap .column-3 .inner a .img-wrap,
.gallery-wrap .column-4 .inner a .img-wrap {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.gallery-wrap .column .inner .img-wrap {
    height: 100px;
    overflow: hidden;
    background: #ddd;
}

.gallery-wrap .column-3 .inner .img-wrap {
    height: 200px;
    overflow: hidden;
    background: #ddd;
}

.gallery-wrap .column-4 .inner .img-wrap {
    height: 150px;
    overflow: hidden;
    background: #ddd;
}

.gallery-wrap .column .inner .img-frame,
.gallery-wrap .column-3 .inner .img-frame,
.gallery-wrap .column-4 .inner .img-frame {
    padding: 5px;
    background: #fff;
    display: block;
    position: relative;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
}

.gallery-wrap .column .inner:hover .img-frame,
.gallery-wrap .column-3 .inner:hover .img-frame,
.gallery-wrap .column-4 .inner:hover .img-frame {
    background: #fff;
}

.gallery-wrap .column .inner:hover .img-frame.success,
.gallery-wrap .column-3 .inner:hover .img-frame.success,
.gallery-wrap .column-4 .inner:hover .img-frame.success {
    background: #65BD77;
}

.gallery-wrap .column .inner:hover .img-frame.warning,
.gallery-wrap .column-3 .inner:hover .img-frame.warning,
.gallery-wrap .column-4 .inner:hover .img-frame.warning {
    background: #EBC85E;
}

.gallery-wrap .column .inner:hover .img-frame.danger,
.gallery-wrap .column-3 .inner:hover .img-frame.danger,
.gallery-wrap .column-4 .inner:hover .img-frame.danger {
    background: #D73D3D;
}

.gallery-wrap .column .inner:hover .img-frame.info,
.gallery-wrap .column-3 .inner:hover .img-frame.info,
.gallery-wrap .column-4 .inner:hover .img-frame.info {
    background: #67B0D1;
}

.gallery-wrap .column .inner .img-wrap img,
.gallery-wrap .column-4 .inner .img-wrap img,
.gallery-wrap .column-3 .inner .img-wrap img {
    width: 100%;
}

.gallery-wrap .column .inner .caption-hover,
.gallery-wrap .column-4 .inner .caption-hover,
.gallery-wrap .column-3 .inner .caption-hover {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    text-align: center;
    color: #909090;
    padding: 10px;
    background: #fff;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
}

.gallery-wrap .column .inner .caption-hover.success,
.gallery-wrap .column-4 .inner .caption-hover.success,
.gallery-wrap .column-3 .inner .caption-hover.success {
    color: #2C7439;
    background: #65BD77;
}

.gallery-wrap .column .inner .caption-hover.danger,
.gallery-wrap .column-4 .inner .caption-hover.danger,
.gallery-wrap .column-3 .inner .caption-hover.danger {
    color: #790D0D;
    background: #D73D3D;
}

.gallery-wrap .column .inner .caption-hover.warning,
.gallery-wrap .column-4 .inner .caption-hover.warning,
.gallery-wrap .column-3 .inner .caption-hover.warning {
    color: #B27C05;
    background: #EBC85E;
}

.gallery-wrap .column .inner .caption-hover.info,
.gallery-wrap .column-4 .inner .caption-hover.info,
.gallery-wrap .column-3 .inner .caption-hover.info {
    color: #0A487C;
    background: #67B0D1;
}

.gallery-wrap .column .inner:hover .caption-hover,
.gallery-wrap .column-4 .inner:hover .caption-hover,
.gallery-wrap .column-3 .inner:hover .caption-hover {
    bottom: 0px;
}

.gallery-wrap .column .inner .caption-static,
.gallery-wrap .column-4 .inner .caption-static,
.gallery-wrap .column-3 .inner .caption-static {
    position: relative;
    text-align: center;
    color: #909090;
    padding: 10px;
    background: #fff;
    margin: 0;
}

.gallery-wrap .column .inner a:hover,
.gallery-wrap .column-4 .inner a:hover,
.gallery-wrap .column-3 .inner a:hover {
    text-decoration: none;
}

.gallery-wrap .column .inner .caption-static.success,
.gallery-wrap .column-4 .inner .caption-static.success,
.gallery-wrap .column-3 .inner .caption-static.success {
    color: #2C7439;
    background: #65BD77;
}

.gallery-wrap .column .inner .caption-static.danger,
.gallery-wrap .column-4 .inner .caption-static.danger,
.gallery-wrap .column-3 .inner .caption-static.danger {
    color: #790D0D;
    background: #D73D3D;
}

.gallery-wrap .column .inner .caption-static.warning,
.gallery-wrap .column-4 .inner .caption-static.warning,
.gallery-wrap .column-3 .inner .caption-static.warning {
    color: #B27C05;
    background: #EBC85E;
}

.gallery-wrap .column .inner .caption-static.info,
.gallery-wrap .column-4 .inner .caption-static.info,
.gallery-wrap .column-3 .inner .caption-static.info {
    color: #0A487C;
    background: #67B0D1;
}


/*===GALLERY (ZOOM)===*/

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}


/*=========================================================================GRAPH / CHART SELECTOR=========================================================================*/


/*=========================================================================READY PAGES=========================================================================*/


/** Login, Register, Forgot Password, Lock Screen and Error Page **/

.full-content-center {
    width: 100%;
    max-width: 500px;
    margin: 5% auto;
    text-align: center;
}

.full-content-center img.logo-login {
    width: 70px;
    margin-right: 10px;
    background: #272C31;
}

body.full-content {
    background: #E5E9EC;
    padding-top: 0px;
}

.full-content-center h1 {
    font-size: 150px;
    font-weight: 600;
}

.login-wrap {
    margin: 20px 10%;
    text-align: left;
}

.login-wrap i {
    margin-right: 5px;
}

.login-wrap .checkbox {
    margin-left: 0;
    padding-left: 0;
}

.login-wrap .btn-block {
    margin: 5px 0;
}

.login-wrap .login-input {
    position: relative;
}

.login-wrap .login-input .text-input {
    padding-left: 30px;
}

.login-wrap .login-input i.overlay {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #aaa;
}

.ava-lock-screen img {
    width: 100px;
    margin: 10px 0 0 10px;
}


/** Search Results **/

.box-info .media-list.search-result .media a {
    color: #46C45F;
}

.box-info .media-list.search-result .media .media-heading a {
    color: #1279D1;
}

.box-info .media-list.search-result .media .media-heading span {
    font-size: 12px;
    font-weight: 400;
    padding: 3px 5px;
}

.box-info .media-list.search-result .media .media-object {
    width: 100px;
}


/** FAQ **/

ul.faq {
    list-style: none;
    padding-left: 10px;
    margin: 20px 0 50px;
}

ul.faq li i {
    margin-right: 5px;
}

ul.faq li {
    margin: 10px 0;
}

ul.faq li a.faq-question {
    cursor: pointer;
    display: block;
    font-size: 14px;
}

ul.faq li .faq-answer {
    margin: 10px 15px;
}


/** Pricing table **/

table.pricing-table-style-1 {
    text-align: center;
    background: #fff;
}

table.pricing-table-style-1 thead tr th {
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

table.pricing-table-style-1 thead tr th.best-choice {
    color: #A2A7B7;
    background: #0F1215;
    border-bottom-color: #000;
}

table.pricing-table-style-1 tbody tr td.best-choice {
    background: #1B1E24;
    font-weight: 600;
    font-size: 15px;
    color: #fafafa;
    border-top-color: #000;
}

table.pricing-table-style-1 tbody tr td.td-success {
    background: #65BD77;
    font-weight: 600;
    color: #2C7439;
    text-align: right;
    border-top-color: #55AD67;
}

table.pricing-table-style-1 thead tr th.th-success {
    color: #65BD77;
    background: #55AD67;
    border-bottom-color: #55AD67;
}

.la-pricing-table {
    margin: 30px 0;
    text-align: center;
}

.la-pricing-table:before,
.la-pricing-table:after {
    display: table;
    content: " ";
}

.la-pricing-table:after {
    clear: both;
}

.la-pricing-table .la-col-4 {
    float: left;
    margin: 20px 0 20px 0;
    padding: 0;
    width: 25%;
    border: 3px solid transparent;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    position: relative;
    overflow: hidden;
}

.la-pricing-table .la-col-4:hover {
    border-color: #434D58;
}

.la-pricing-table .la-col-4 i.bg-big {
    position: absolute;
    font-size: 210px;
    opacity: .05;
    top: 20%;
    left: 0;
    right: 0;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.la-pricing-table .la-col-4:hover i.bg-big {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
}

.la-pricing-table .la-col-4 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
}

.la-pricing-table .la-col-4 ul li {
    padding: 10px 20px;
    display: block;
    font-size: 13px;
}

.la-pricing-table .la-col-4 ul li.la-package {
    font-size: 24px;
    font-weight: 600;
    background: #121515;
    color: #fff;
}

.la-pricing-table .la-col-4 ul li.la-price {
    font-size: 18px;
    font-weight: 600;
    color: #8E98AD;
    background: #434D58;
    margin: 0 20px;
}

.la-pricing-table .la-col-4 ul li.la-price i {
    font-size: 13px;
}


/*===PRICING TABLES SUCCESS===*/

.la-pricing-table .la-col-4.success {}

.la-pricing-table .la-col-4:hover.success {
    border-color: #2C7439;
}

.la-pricing-table .la-col-4.success ul {
    background: #65BD77;
}

.la-pricing-table .la-col-4.success ul li {
    color: #fff;
}

.la-pricing-table .la-col-4.success ul li.la-package {
    color: #BCF5C6;
    background: #2C7439;
}

.la-pricing-table .la-col-4.success ul li.la-price {
    color: #fff;
    background: #3E984D;
}


/*===PRICING TABLES DANGER===*/

.la-pricing-table .la-col-4.danger {}

.la-pricing-table .la-col-4:hover.danger {
    border-color: #B42424;
}

.la-pricing-table .la-col-4.danger ul {
    background: #D73D3D;
}

.la-pricing-table .la-col-4.danger ul li {
    color: #fff;
}

.la-pricing-table .la-col-4.danger ul li.la-package {
    color: #FFB4B4;
    background: #B42424;
}

.la-pricing-table .la-col-4.danger ul li.la-price {
    color: #fff;
    background: #C42E2E;
}


/*===PRICING TABLES INFO===*/

.la-pricing-table .la-col-4.info {}

.la-pricing-table .la-col-4:hover.info {
    border-color: #1F6AAA;
}

.la-pricing-table .la-col-4.info ul {
    background: #529DDE;
}

.la-pricing-table .la-col-4.info ul li {
    color: #fff;
}

.la-pricing-table .la-col-4.info ul li.la-package {
    color: #C6E5FF;
    background: #1F6AAA;
}

.la-pricing-table .la-col-4.info ul li.la-price {
    color: #fff;
    background: #2E71AD;
}


/*===PRICING TABLES WARNING===*/

.la-pricing-table .la-col-4.warning {}

.la-pricing-table .la-col-4:hover.warning {
    border-color: #F08600;
}

.la-pricing-table .la-col-4.warning ul {
    background: #EBC85E;
}

.la-pricing-table .la-col-4.warning ul li {
    color: #fff;
}

.la-pricing-table .la-col-4.warning ul li.la-package {
    color: #FFF5C9;
    background: #F08600;
}

.la-pricing-table .la-col-4.warning ul li.la-price {
    color: #fff;
    background: #FFAA00;
}


/** Invoice **/

.icon-print {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 22px;
}

.icon-print a {
    color: #909090;
}

.icon-print a:hover {
    color: #212121;
    text-decoration: none;
}

.company-column {
    padding: 15px;
    border: 1px dashed #ddd;
    margin-bottom: 20px;
}

.bill-to {
    padding: 15px;
    margin-bottom: 20px;
    background: #E5E9EC;
}


/** User profile **/

.user-profile-sidebar {
    margin: 0 0 20px 0;
}

.user-profile-sidebar .user-identity {
    margin: 20px 0 0 0;
}

.user-profile-sidebar img {
    width: 90px;
}

.account-status-data {
    text-align: center;
    padding: 10px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    margin: 10px 0 20px 0;
}

.account-status-data h5 {
    font-size: 11px;
    line-height: 150%;
    color: #909090
}

.user-button {
    margin: 15px 0;
}

.user-button .btn {
    margin: 5px 0;
}

#social {
    padding: 10px;
    background: #E5E9EC;
    text-align: center;
}

#social a:hover {
    text-decoration: none;
}

.fa-circle.facebook {
    color: #5471AE;
}

.fa-circle.twitter {
    color: #4EC6F6;
}

.fa-circle.gplus {
    color: #E24E3E;
}

.fa-circle.tumblr {
    color: #4D77A3;
}

.fa-circle.linkedin {
    color: #3097CE;
}

.user-profile-content {
    margin: 30px 15px;
}


/*=========================================================================ICONS SHOWCASE=========================================================================*/

.icon-showcase i {
    margin-right: 5px;
}

.bs-glyphicons {
    padding-left: 0;
    padding-bottom: 1px;
    margin-bottom: 20px;
    list-style: none;
    overflow: hidden;
}

.bs-glyphicons li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    margin: 0 -1px -1px 0;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #ddd;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
    /* Help out IE10+ with class names */
}

.bs-glyphicons li:hover {
    background-color: rgba(86, 61, 124, .1);
}

@media (min-width: 768px) {
    .bs-glyphicons li {
        width: 12.5%;
    }
}


/*=========================================================================MESSAGES=========================================================================*/

.menu-message {
    margin: 20px 0;
}

.table-message tr.unread {
    font-weight: 600;
    background: #FFFCE0;
}

.table-hover > tbody > tr:hover.unread > td {
    background: #FCF5BF;
}

.table-message > tbody > tr > td > a {
    display: block;
    color: #5b5b5b;
}

.table-message > tbody > tr > td > a:hover {
    text-decoration: none;
}

.data-table-toolbar {
    margin: 15px 0;
}

.data-table-toolbar span.paging-status {
    font-weight: bold;
    margin: 10px 10px 0 0;
}

.input-message {
    margin-top: -1px;
}

hr.dashed {
    height: 1px;
    background: transparent;
    border-top: none;
    border-bottom: 1px dashed #ddd;
}

.data-table-toolbar {
    margin: 15px 0;
    padding: 0 15px;
}

.toolbar-btn-action {
    text-align: right;
}


/*=========================================================================UPDATE FOR VERSION 1.1=========================================================================*/


/** PRICING TABLES **/

.pricing-tables {
    text-align: center;
    position: relative;
    margin: 30px 0;
    color: #353535;
    -webkit-transition: All 0.25s ease;
    -moz-transition: All 0.25s ease;
    -o-transition: All 0.25s ease;
}

.pricing-tables:hover {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 1);
}

.pricing-tables .the-box {
    margin: 0;
    background: #fff;
}

.pricing-tables .header {
    padding: 5px 0 70px;
    background: #D6D6D6;
}

.pricing-tables .circle-price-wrap {
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -75px;
    border: 3px solid #D6D6D6;
}

.pricing-tables .circle-price-wrap h2 {
    font-size: 40px;
    padding: 15px 0;
}

.pricing-tables .circle-price-wrap h2 small {
    font-size: 14px;
    color: #909090;
    display: block;
}

.pricing-tables table.table-inner {
    margin: 100px 0 0 0;
    padding: 0;
}

.pricing-tables table.table-inner > tbody:first-child > tr:first-child > td {
    border-top: 0;
}

.pricing-tables table.table-inner > thead > tr > th,
.pricing-tables table.table-inner > tbody > tr > th,
.pricing-tables table.table-inner > tfoot > tr > th,
.pricing-tables table.table-inner > thead > tr > td,
.pricing-tables table.table-inner > tbody > tr > td,
.pricing-tables table.table-inner > tfoot > tr > td {
    padding: 15px;
    font-size: 16px;
    vertical-align: middle;
    border-top: 1px dotted #dddddd;
}

.pricing-tables:hover.best-choice {
    box-shadow: 0 0 0 5px rgba(62, 152, 77, 1);
}

.pricing-tables.best-choice .header {
    background: #3E984D;
    color: #fff;
}

.pricing-tables.best-choice .circle-price-wrap {
    border: 3px solid #3E984D;
}

.pricing-tables.best-choice .circle-price-wrap h2 {
    color: #3E984D;
}

.pricing-tables.best-choice .circle-price-wrap h2 small {
    color: #3E984D;
}

.pricing-tables.best-choice table.table-inner {
    margin: 100px 0 0 0;
    padding: 0;
}

.pricing-tables.best-choice table.table-inner > tbody:first-child > tr:first-child > td {
    border-top: 0;
}


/** Jumbotron **/

.container .jumbotron,
.jumbotron {
    border-radius: 0;
}

.jumbotron.bg-white {
    background: #fff;
}

.jumbotron.sm {
    padding: 20px;
    margin-bottom: 20px;
    color: inherit;
}

.jumbotron.sm p {
    margin-bottom: 20px;
    font-size: 16px;
}

.jumbotron.xs {
    padding: 15px;
    margin-bottom: 15px;
    color: inherit;
}

.jumbotron.xs p {
    margin-bottom: 15px;
    font-size: 14px;
}

.jumbotron.dashed {
    background: #fff;
    border: 1px dashed #ddd;
}

.jumbotron.rounded {
    border-radius: 15px;
}

@media screen and (min-width: 768px) {
    .jumbotron.sm {
        padding-top: 36px;
        padding-bottom: 36x;
    }
    .jumbotron.sm h1,
    .jumbotron.sm .h1 {
        font-size: 40px;
        margin-top: 0px;
    }
    .jumbotron.xs {
        padding-top: 24px;
        padding-bottom: 24x;
    }
    .jumbotron.xs h1,
    .jumbotron.xs .h1 {
        font-size: 30px;
        margin-top: 0px;
    }
}


/** User profile style 2 **/

.user-profile-2 {
    text-align: center;
    position: relative;
}

.user-profile-2 .header-cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 130px;
    overflow: hidden;
    z-index: 1;
}

.user-profile-2 .header-cover.primary {
    background-color: #428BCA;
}

.user-profile-2 .header-cover img {
    width: 100%;
}

.user-profile-2 .user-profile-inner {
    z-index: 2;
    position: relative;
}

.user-profile-2 .user-profile-inner h4.white {
    color: #fff;
}

.user-profile-2 .user-profile-inner img.profile-avatar {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 0 5px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 1);
    border: none;
}

.user-profile-2 .avatar-wrap {
    margin: 15px auto;
    border: 2px solid rgba(1, 1, 1, .4);
    padding: 3px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.user-profile-2 .avatar-wrap img.profile-avatar {
    display: block;
    width: 90px;
    border-radius: 50%;
}

.user-profile-2 .list-group {
    text-align: left;
    margin-top: 20px;
}


/** Timeline **/

.the-timeline {
    margin-bottom: 40px;
}

.the-timeline .post-to-timeline {
    margin: 15px 0;
}

.the-timeline .post-to-timeline textarea {
    height: 50px;
    resize: none;
    margin-bottom: 10px;
}

.the-timeline ul {
    padding: 0;
    list-style: none;
    margin: 0 15px 0 30px;
    border-left: 2px solid #ddd;
}

.the-timeline ul li {
    padding: 5px 15px;
    display: block;
    margin: 20px 0 20px 35px;
    background: #E5E9EC;
    position: relative;
    border-left: 4px solid transparent;
}

.the-timeline ul li:hover {
    border-left-color: #1B1E24;
}

.the-timeline ul li p {
    margin: 0;
    padding: 0;
}

.the-timeline ul li .the-date {
    position: absolute;
    left: -64px;
    top: 0;
    width: 50px;
    height: 50px;
    background: #1B1E24;
    border-radius: 50%;
    text-align: center;
    line-height: 130%;
}

.the-timeline ul li .the-date span {
    color: #fff;
    font-size: 18px;
    display: block;
    margin-top: 8px;
}

.the-timeline ul li .the-date small {
    color: #fff;
    font-size: 12px;
    display: block;
}


/** Video iframe responsive **/

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 15px;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

iframe {
    width: 100%;
    border: none;
}


/** Weather widget **/

.weather-widget {
    position: relative;
}

.weather-widget i {
    margin-right: 5px;
}

.weather-widget .overlay-weather-info {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 15px;
    right: 15px;
}

.weather-widget .overlay-weather-info .weather-info-city {
    color: #fff;
    margin: 20px 0;
}

.weather-widget .overlay-weather-info .weather-info-city h4 {
    font-size: 16px;
    font-weight: 600;
}

.weather-widget .overlay-weather-info h4 {
    color: #fff;
    font-weight: 400;
}

.weather-widget .overlay-weather-info .weather-info-city h1 {
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.weather-widget .overlay-weather-info i.weather-icon {
    font-size: 70px;
}


/** Social button and icon **/


/** SOCIAL BUTTON ICONS **/


/** Button Facebook **/

.btn-facebook {
    background-color: #4B66A0;
    border-color: #4B66A0;
    color: #fff;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
    background-color: #3B5A98;
    border-color: #3B5A98;
    color: #fff;
}

.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
    background-image: none;
}

.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
    background-color: #6C89C1;
    border-color: #6C89C1;
    color: #fff;
}

.btn-facebook .badge {
    color: #3B5A98;
}


/** Button Twitter **/

.btn-twitter {
    background-color: #55ACEE;
    border-color: #55ACEE;
    color: #fff;
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
    background-color: #3490D3;
    border-color: #3490D3;
    color: #fff;
}

.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
    background-image: none;
}

.btn-twitter.disabled,
.btn-twitter[disabled],
fieldset[disabled] .btn-twitter,
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled:active,
.btn-twitter[disabled]:active,
fieldset[disabled] .btn-twitter:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter.active {
    background-color: #7CC1F5;
    border-color: #7CC1F5;
    color: #fff;
}

.btn-twitter .badge {
    color: #3490D3;
}


/** Button Googleplus **/

.btn-google-plus {
    background-color: #D24333;
    border-color: #D24333;
    color: #fff;
}

.btn-google-plus:hover,
.btn-google-plus:focus,
.btn-google-plus:active,
.btn-google-plus.active,
.open .dropdown-toggle.btn-google-plus {
    background-color: #BC2C1F;
    border-color: #BC2C1F;
    color: #fff;
}

.btn-google-plus:active,
.btn-google-plus.active,
.open .dropdown-toggle.btn-google-plus {
    background-image: none;
}

.btn-google-plus.disabled,
.btn-google-plus[disabled],
fieldset[disabled] .btn-google-plus,
.btn-google-plus.disabled:hover,
.btn-google-plus[disabled]:hover,
fieldset[disabled] .btn-google-plus:hover,
.btn-google-plus.disabled:focus,
.btn-google-plus[disabled]:focus,
fieldset[disabled] .btn-google-plus:focus,
.btn-google-plus.disabled:active,
.btn-google-plus[disabled]:active,
fieldset[disabled] .btn-google-plus:active,
.btn-google-plus.disabled.active,
.btn-google-plus[disabled].active,
fieldset[disabled] .btn-google-plus.active {
    background-color: #F0675A;
    border-color: #F0675A;
    color: #fff;
}

.btn-google-plus .badge {
    color: #BC2C1F;
}


/** Button Dribbble **/

.btn-dribbble {
    background-color: #E04C86;
    border-color: #E04C86;
    color: #fff;
}

.btn-dribbble:hover,
.btn-dribbble:focus,
.btn-dribbble:active,
.btn-dribbble.active,
.open .dropdown-toggle.btn-dribbble {
    background-color: #D33471;
    border-color: #D33471;
    color: #fff;
}

.btn-dribbble:active,
.btn-dribbble.active,
.open .dropdown-toggle.btn-dribbble {
    background-image: none;
}

.btn-dribbble.disabled,
.btn-dribbble[disabled],
fieldset[disabled] .btn-dribbble,
.btn-dribbble.disabled:hover,
.btn-dribbble[disabled]:hover,
fieldset[disabled] .btn-dribbble:hover,
.btn-dribbble.disabled:focus,
.btn-dribbble[disabled]:focus,
fieldset[disabled] .btn-dribbble:focus,
.btn-dribbble.disabled:active,
.btn-dribbble[disabled]:active,
fieldset[disabled] .btn-dribbble:active,
.btn-dribbble.disabled.active,
.btn-dribbble[disabled].active,
fieldset[disabled] .btn-dribbble.active {
    background-color: #F571A5;
    border-color: #F571A5;
    color: #fff;
}

.btn-dribbble .badge {
    color: #D33471;
}


/** Button Flickr **/

.btn-flickr {
    background-color: #0162DB;
    border-color: #0162DB;
    color: #fff;
}

.btn-flickr:hover,
.btn-flickr:focus,
.btn-flickr:active,
.btn-flickr.active,
.open .dropdown-toggle.btn-flickr {
    background-color: #0555BF;
    border-color: #0555BF;
    color: #fff;
}

.btn-flickr:active,
.btn-flickr.active,
.open .dropdown-toggle.btn-flickr {
    background-image: none;
}

.btn-flickr.disabled,
.btn-flickr[disabled],
fieldset[disabled] .btn-flickr,
.btn-flickr.disabled:hover,
.btn-flickr[disabled]:hover,
fieldset[disabled] .btn-flickr:hover,
.btn-flickr.disabled:focus,
.btn-flickr[disabled]:focus,
fieldset[disabled] .btn-flickr:focus,
.btn-flickr.disabled:active,
.btn-flickr[disabled]:active,
fieldset[disabled] .btn-flickr:active,
.btn-flickr.disabled.active,
.btn-flickr[disabled].active,
fieldset[disabled] .btn-flickr.active {
    background-color: #2983F7;
    border-color: #2983F7;
    color: #fff;
}

.btn-flickr .badge {
    color: #0555BF;
}


/** Button Pinterest **/

.btn-pinterest {
    background-color: #CC2127;
    border-color: #CC2127;
    color: #fff;
}

.btn-pinterest:hover,
.btn-pinterest:focus,
.btn-pinterest:active,
.btn-pinterest.active,
.open .dropdown-toggle.btn-pinterest {
    background-color: #B70F12;
    border-color: #B70F12;
    color: #fff;
}

.btn-pinterest:active,
.btn-pinterest.active,
.open .dropdown-toggle.btn-pinterest {
    background-image: none;
}

.btn-pinterest.disabled,
.btn-pinterest[disabled],
fieldset[disabled] .btn-pinterest,
.btn-pinterest.disabled:hover,
.btn-pinterest[disabled]:hover,
fieldset[disabled] .btn-pinterest:hover,
.btn-pinterest.disabled:focus,
.btn-pinterest[disabled]:focus,
fieldset[disabled] .btn-pinterest:focus,
.btn-pinterest.disabled:active,
.btn-pinterest[disabled]:active,
fieldset[disabled] .btn-pinterest:active,
.btn-pinterest.disabled.active,
.btn-pinterest[disabled].active,
fieldset[disabled] .btn-pinterest.active {
    background-color: #E53B3E;
    border-color: #E53B3E;
    color: #fff;
}

.btn-pinterest .badge {
    color: #B70F12;
}


/** Button Youtube **/

.btn-youtube {
    background-color: #D92623;
    border-color: #D92623;
    color: #fff;
}

.btn-youtube:hover,
.btn-youtube:focus,
.btn-youtube:active,
.btn-youtube.active,
.open .dropdown-toggle.btn-youtube {
    background-color: #C91212;
    border-color: #C91212;
    color: #fff;
}

.btn-youtube:active,
.btn-youtube.active,
.open .dropdown-toggle.btn-youtube {
    background-image: none;
}

.btn-youtube.disabled,
.btn-youtube[disabled],
fieldset[disabled] .btn-youtube,
.btn-youtube.disabled:hover,
.btn-youtube[disabled]:hover,
fieldset[disabled] .btn-youtube:hover,
.btn-youtube.disabled:focus,
.btn-youtube[disabled]:focus,
fieldset[disabled] .btn-youtube:focus,
.btn-youtube.disabled:active,
.btn-youtube[disabled]:active,
fieldset[disabled] .btn-youtube:active,
.btn-youtube.disabled.active,
.btn-youtube[disabled].active,
fieldset[disabled] .btn-youtube.active {
    background-color: #F04343;
    border-color: #F04343;
    color: #fff;
}

.btn-youtube .badge {
    color: #C91212;
}


/** Button Dropbox **/

.btn-dropbox {
    background-color: #1473C3;
    border-color: #1473C3;
    color: #fff;
}

.btn-dropbox:hover,
.btn-dropbox:focus,
.btn-dropbox:active,
.btn-dropbox.active,
.open .dropdown-toggle.btn-dropbox {
    background-color: #0864B2;
    border-color: #0864B2;
    color: #fff;
}

.btn-dropbox:active,
.btn-dropbox.active,
.open .dropdown-toggle.btn-dropbox {
    background-image: none;
}

.btn-dropbox.disabled,
.btn-dropbox[disabled],
fieldset[disabled] .btn-dropbox,
.btn-dropbox.disabled:hover,
.btn-dropbox[disabled]:hover,
fieldset[disabled] .btn-dropbox:hover,
.btn-dropbox.disabled:focus,
.btn-dropbox[disabled]:focus,
fieldset[disabled] .btn-dropbox:focus,
.btn-dropbox.disabled:active,
.btn-dropbox[disabled]:active,
fieldset[disabled] .btn-dropbox:active,
.btn-dropbox.disabled.active,
.btn-dropbox[disabled].active,
fieldset[disabled] .btn-dropbox.active {
    background-color: #2E90E3;
    border-color: #2E90E3;
    color: #fff;
}

.btn-dropbox .badge {
    color: #0864B2;
}


/** Button Foursquare **/

.btn-foursquare {
    background-color: #0086BE;
    border-color: #0086BE;
    color: #fff;
}

.btn-foursquare:hover,
.btn-foursquare:focus,
.btn-foursquare:active,
.btn-foursquare.active,
.open .dropdown-toggle.btn-foursquare {
    background-color: #0571A0;
    border-color: #0571A0;
    color: #fff;
}

.btn-foursquare:active,
.btn-foursquare.active,
.open .dropdown-toggle.btn-foursquare {
    background-image: none;
}

.btn-foursquare.disabled,
.btn-foursquare[disabled],
fieldset[disabled] .btn-foursquare,
.btn-foursquare.disabled:hover,
.btn-foursquare[disabled]:hover,
fieldset[disabled] .btn-foursquare:hover,
.btn-foursquare.disabled:focus,
.btn-foursquare[disabled]:focus,
fieldset[disabled] .btn-foursquare:focus,
.btn-foursquare.disabled:active,
.btn-foursquare[disabled]:active,
fieldset[disabled] .btn-foursquare:active,
.btn-foursquare.disabled.active,
.btn-foursquare[disabled].active,
fieldset[disabled] .btn-foursquare.active {
    background-color: #2CA0CE;
    border-color: #2CA0CE;
    color: #fff;
}

.btn-foursquare .badge {
    color: #0571A0;
}


/** Button Github **/

.btn-github {
    background-color: #3B3B3B;
    border-color: #3B3B3B;
    color: #fff;
}

.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active,
.open .dropdown-toggle.btn-github {
    background-color: #212121;
    border-color: #212121;
    color: #fff;
}

.btn-github:active,
.btn-github.active,
.open .dropdown-toggle.btn-github {
    background-image: none;
}

.btn-github.disabled,
.btn-github[disabled],
fieldset[disabled] .btn-github,
.btn-github.disabled:hover,
.btn-github[disabled]:hover,
fieldset[disabled] .btn-github:hover,
.btn-github.disabled:focus,
.btn-github[disabled]:focus,
fieldset[disabled] .btn-github:focus,
.btn-github.disabled:active,
.btn-github[disabled]:active,
fieldset[disabled] .btn-github:active,
.btn-github.disabled.active,
.btn-github[disabled].active,
fieldset[disabled] .btn-github.active {
    background-color: #5F5F5F;
    border-color: #5F5F5F;
    color: #fff;
}

.btn-github .badge {
    color: #212121;
}


/** Button Linkedin **/

.btn-linkedin {
    background-color: #0085AE;
    border-color: #0085AE;
    color: #fff;
}

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active,
.open .dropdown-toggle.btn-linkedin {
    background-color: #036C8E;
    border-color: #036C8E;
    color: #fff;
}

.btn-linkedin:active,
.btn-linkedin.active,
.open .dropdown-toggle.btn-linkedin {
    background-image: none;
}

.btn-linkedin.disabled,
.btn-linkedin[disabled],
fieldset[disabled] .btn-linkedin,
.btn-linkedin.disabled:hover,
.btn-linkedin[disabled]:hover,
fieldset[disabled] .btn-linkedin:hover,
.btn-linkedin.disabled:focus,
.btn-linkedin[disabled]:focus,
fieldset[disabled] .btn-linkedin:focus,
.btn-linkedin.disabled:active,
.btn-linkedin[disabled]:active,
fieldset[disabled] .btn-linkedin:active,
.btn-linkedin.disabled.active,
.btn-linkedin[disabled].active,
fieldset[disabled] .btn-linkedin.active {
    background-color: #24A7D3;
    border-color: #24A7D3;
    color: #fff;
}

.btn-linkedin .badge {
    color: #036C8E;
}


/** Button Tumblr **/

.btn-tumblr {
    background-color: #3E5A70;
    border-color: #3E5A70;
    color: #fff;
}

.btn-tumblr:hover,
.btn-tumblr:focus,
.btn-tumblr:active,
.btn-tumblr.active,
.open .dropdown-toggle.btn-tumblr {
    background-color: #2E485D;
    border-color: #2E485D;
    color: #fff;
}

.btn-tumblr:active,
.btn-tumblr.active,
.open .dropdown-toggle.btn-tumblr {
    background-image: none;
}

.btn-tumblr.disabled,
.btn-tumblr[disabled],
fieldset[disabled] .btn-tumblr,
.btn-tumblr.disabled:hover,
.btn-tumblr[disabled]:hover,
fieldset[disabled] .btn-tumblr:hover,
.btn-tumblr.disabled:focus,
.btn-tumblr[disabled]:focus,
fieldset[disabled] .btn-tumblr:focus,
.btn-tumblr.disabled:active,
.btn-tumblr[disabled]:active,
fieldset[disabled] .btn-tumblr:active,
.btn-tumblr.disabled.active,
.btn-tumblr[disabled].active,
fieldset[disabled] .btn-tumblr.active {
    background-color: #586F81;
    border-color: #586F81;
    color: #fff;
}

.btn-tumblr .badge {
    color: #2E485D;
}


/** Button Vimeo **/

.btn-vimeo {
    background-color: #1BB6EC;
    border-color: #1BB6EC;
    color: #fff;
}

.btn-vimeo:hover,
.btn-vimeo:focus,
.btn-vimeo:active,
.btn-vimeo.active,
.open .dropdown-toggle.btn-vimeo {
    background-color: #0D9DD1;
    border-color: #0D9DD1;
    color: #fff;
}

.btn-vimeo:active,
.btn-vimeo.active,
.open .dropdown-toggle.btn-vimeo {
    background-image: none;
}

.btn-vimeo.disabled,
.btn-vimeo[disabled],
fieldset[disabled] .btn-vimeo,
.btn-vimeo.disabled:hover,
.btn-vimeo[disabled]:hover,
fieldset[disabled] .btn-vimeo:hover,
.btn-vimeo.disabled:focus,
.btn-vimeo[disabled]:focus,
fieldset[disabled] .btn-vimeo:focus,
.btn-vimeo.disabled:active,
.btn-vimeo[disabled]:active,
fieldset[disabled] .btn-vimeo:active,
.btn-vimeo.disabled.active,
.btn-vimeo[disabled].active,
fieldset[disabled] .btn-vimeo.active {
    background-color: #4BCBFA;
    border-color: #4BCBFA;
    color: #fff;
}

.btn-vimeo .badge {
    color: #0D9DD1;
}


/** SOCIAL ICONS COLORS **/

.icon-facebook {
    color: #4B66A0
}

a .icon-facebook {
    color: #4B66A0
}

a:hover .icon-facebook,
a:focus .icon-facebook {
    text-decoration: none;
    color: #3B5A98;
}

.icon-twitter {
    color: #55ACEE
}

a .icon-twitter {
    color: #55ACEE
}

a:hover .icon-twitter,
a:focus .icon-twitter {
    text-decoration: none;
    color: #3490D3;
}

.icon-google-plus {
    color: #D24333
}

a .icon-google-plus {
    color: #D24333
}

a:hover .icon-google-plus,
a:focus .icon-google-plus {
    text-decoration: none;
    color: #BC2C1F;
}

.icon-dribbble {
    color: #E04C86
}

a .icon-dribbble {
    color: #E04C86
}

a:hover .icon-dribbble,
a:focus .icon-dribbble {
    text-decoration: none;
    color: #D33471;
}

.icon-flickr {
    color: #0162DB
}

a .icon-flickr {
    color: #0162DB
}

a:hover .icon-flickr,
a:focus .icon-flickr {
    text-decoration: none;
    color: #0555BF;
}

.icon-pinterest {
    color: #CC2127
}

a .icon-pinterest {
    color: #CC2127
}

a:hover .icon-pinterest,
a:focus .icon-pinterest {
    text-decoration: none;
    color: #B70F12;
}

.icon-youtube {
    color: #D92623
}

a .icon-youtube {
    color: #D92623
}

a:hover .icon-youtube,
a:focus .icon-youtube {
    text-decoration: none;
    color: #C91212;
}

.icon-dropbox {
    color: #1473C3
}

a .icon-dropbox {
    color: #1473C3
}

a:hover .icon-dropbox,
a:focus .icon-dropbox {
    text-decoration: none;
    color: #0864B2;
}

.icon-foursquare {
    color: #0086BE
}

a .icon-foursquare {
    color: #0086BE
}

a:hover .icon-foursquare,
a:focus .icon-foursquare {
    text-decoration: none;
    color: #0571A0;
}

.icon-github {
    color: #3B3B3B
}

a .icon-github {
    color: #3B3B3B
}

a:hover .icon-github,
a:focus .icon-github {
    text-decoration: none;
    color: #212121;
}

.icon-linkedin {
    color: #0085AE
}

a .icon-linkedin {
    color: #0085AE
}

a:hover .icon-linkedin,
a:focus .icon-linkedin {
    text-decoration: none;
    color: #036C8E;
}

.icon-tumblr {
    color: #3E5A70
}

a .icon-tumblr {
    color: #3E5A70
}

a:hover .icon-tumblr,
a:focus .icon-tumblr {
    text-decoration: none;
    color: #2E485D;
}

.icon-vimeo {
    color: #1BB6EC
}

a .icon-vimeo {
    color: #1BB6EC
}

a:hover .icon-vimeo,
a:focus .icon-vimeo {
    text-decoration: none;
    color: #0D9DD1;
}


/** Weather icons **/

.iconExamples:before,
.iconExamples:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.iconExamples:after {
    clear: both;
}

.iconExamples:before,
.iconExamples:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.iconExamples:after {
    clear: both;
}

.iconExamples h2 {
    font-family: "aktiv-grotesk-std";
    font-weight: 200;
    color: #3b6ab5;
}

.iconExamples .example {
    text-align: center;
    margin: 10px 3px;
}

.iconExamples .example:before,
.iconExamples .example:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.iconExamples .example:after {
    clear: both;
}

.iconExamples .example:before,
.iconExamples .example:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.iconExamples .example:after {
    clear: both;
}

.iconExamples .example .icon {
    font-size: 20px;
    float: left;
    width: 35px;
}

.iconExamples .example .class {
    text-align: center;
    font-size: 17px;
    float: left;
    margin-top: 0px;
    font-weight: 400;
    margin-left: 10px;
    color: #333333;
}
