<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../../../template.xhtml">
        <ui:define name="menuName" >
            #{msg.masters} 
        </ui:define>
        <ui:define name="pageName" >
            License Category
        </ui:define>
        <ui:define name="body" >
            <div class="row">
                <div class="col-sm-3">
                    <h:form>
                        <div class="box-info">
                            <h2>License Information</h2>
                            <div class="form-group">
                                <label for="username">Category Name<span class="red"> * </span><h:message class="required" for="center_name"/></label>
                                <h:inputText id="center_name" class="form-control input-sm"  value="#{licenseCategoryController.licenseCategory.license}"  
                                             required="true" requiredMessage="required"/>
                            </div>
                           
                            <div class="row">
                                <div class="col-sm-6">
                                    <h:commandLink class="btn btn-success" action="#{licenseCategoryController.saveCenter()}">
                                        <span class="fa fa-save"></span>
                                        #{msg.save}
                                    </h:commandLink>
                                </div>
                                <div class="col-sm-6">
                                    <h:commandLink class="btn btn-success" action="#{licenseCategoryController.clear()}">
                                        <span class="fa fa-times"></span>
                                        #{msg.cancel}
                                    </h:commandLink>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
                <div class="col-sm-9">
                    <h:form>
                        <div class="box-info">
                            <h2>Center List</h2>
                            <p:dataTable value="#{licenseCategoryController.licenseCategorysList}" var="center" rows="10" paginator="true" paginatorAlwaysVisible="false"
                                         paginatorPosition="bottom">
                                <p:column headerText="Category Name">
                                    <h:outputLabel value="#{center.license}"/>
                                </p:column>
                               
                                <p:column headerText="Select">
                                    <h:commandLink class="blue" action="#{licenseCategoryController.selectCenter(center)}">
                                    <span class="fa fa-check"></span>
                                    Select
                                </h:commandLink>
                            </p:column>
                            <p:column headerText="Delete">
                                <h:commandLink class="red" action="#{licenseCategoryController.deleteCenter(center)}">
                                    <span class="fa fa-remove"></span>
                                    Delete
                                </h:commandLink>
                            </p:column>
                        </p:dataTable>
                    </div>
                </h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>