<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="style" />

        <cc:attribute name="tier2Report" 
                      required="false"
                      method-signature="java.lang.String action()"/>

        <cc:attribute name="tier3Report" 
                      required="false"
                      method-signature="java.lang.String action()"/>

        <cc:attribute name="overallReport" 
                      required="false"
                      method-signature="java.lang.String action()"/>

    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form target="_blank">
            <!--                <label class="glyphicon glyphicon-align-left">
                                Print Report
                            </label>-->

            <div class="row">

                <div style="display: none;">
                    <div class="col-sm-4">
                        <h:commandLink action="#{cc.attrs.tier2Report}" class="btn btn-success npra-bg white">
                            <span class="fa fa-print"></span>
                            Print T2 
                        </h:commandLink>
                    </div>


                    <div class="col-sm-4">
                        <h:commandLink action="#{cc.attrs.tier3Report}" class="btn btn-success npra-bg white">
                            <span class="fa fa-print"></span>
                            Print T3 
                        </h:commandLink>
                    </div>


                    <h:commandLink  action="#{cc.attrs.overallReport}" class="btn btn-success npra-bg white">
                        <span class="fa fa-print"></span>
                        Print Overall 
                    </h:commandLink>

                </div>


                <div class="col-sm-4" style="float: left;">
                    <p:menuButton value="Print">
                        <p:menuitem  ajax="false"  action="#{cc.attrs.tier2Report}" value=" Tier2Report" disabled="true"/>
                        <p:menuitem  ajax="false"  action="#{cc.attrs.tier3Report}"  value="Tier3Report" disabled="true"/>
                        <p:menuitem ajax="false" action="#{cc.attrs.overallReport}"  value=" Overall"/>
                    </p:menuButton>


                </div>

            </div>

        </h:form>


    </cc:implementation>
</html>
