<!-- BEGIN PAGE -->
<div class="container" xmlns="http://www.w3.org/1999/xhtml"
     xmlns:jsf="http://xmlns.jcp.org/jsf"
     xmlns:p="http://primefaces.org/ui"
     xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- Begin Login Page -->
    <div class="full-content-center animated fadeInDownBig">
        <a href="#"><img src="#{application.contextPath}/resources/img/dvla.jpg" class="logo-login img-circle" alt="Logo"/></a>
        <div class="login-wrap">
            <div class="box-info">
                <p:messages globalOnly="true"/>
                <h2 class="text-center"><strong>Welcome ! Please login</strong></h2>

                <form role="form" jsf:id="loginPanel">
                    <div class="form-group login-input">
                        <i class="fa fa-user overlay black-color"></i>
                        <input jsf:id="username" type="text" jsf:value="#{loginController.username}" jsf:required="true" jsf:requiredMessage=" required"
                               class="form-control text-input" placeholder="Username"/>
                    </div>
                    <div class="form-group login-input">
                        <i class="fa fa-key overlay black-color"></i>
                        <input jsf:id="password" type="password" jsf:value="#{loginController.password}" jsf:required="true" jsf:requiredMessage=" required"
                               class="form-control text-input" placeholder="Password"/>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a jsf:action="#{loginController.loginButtonAction()}" 
                               class="btn npra-bg btn-block white-color">
                                <i class="fa fa-lock"></i>Login</a>
                        </div>
                    </div>
                    <h:commandLink class="btn btn-link"  immediate="true" action="#{loginController.registrater()}">
                        <span class="fa fa-times"></span>
                        #{msg.register}
                    </h:commandLink>
                </form>

            </div>
        </div>
    </div>
    <!-- End Login Page -->

</div><!-- End div .container -->
<!-- END PAGE -->