<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >
    <h:head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <!--<link rel="shortcut icon" href="resources/quirk/images/favicon.png" type="image/png">-->

        <title>GENSYS</title>

        <!-- BOOTSTRAP -->
        <link href="#{application.contextPath}/resources/css/bootstrap.min.css" rel="stylesheet"/>

        <!-- LANCENG CSS -->
        <link href="#{application.contextPath}/resources/css/style.css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/style-responsive.css" rel="stylesheet"/>

        <!-- VENDOR -->
        <link href="#{application.contextPath}/resources/css/animate.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"></link>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <!-- FAVICON -->
        <link rel="shortcut icon" href="#{application.contextPath}/resources/img/npra.png"/>

        <!--<link href="#{application.contextPath}/resources/css/main.css" type="text/css" rel="stylesheet"/>-->
        <link href="#{application.contextPath}/resources/css/npra.css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/main.css" rel="stylesheet"/>

        <!--uses primefaces' jquery-->
        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />


    </h:head>
    <h:body class="tooltips full-content">


      

            <div class="container">
                <!-- Your logo goes here -->
                <div class="logo-brand header sidebar rows npra-bg">
                    <div class="logo">
                        <h1><a href="#" class="white-color"><img src="#{application.contextPath}/resources/img/dvla.jpg" alt="Logo"/> DVLA</a></h1>
                    </div>
                </div>
             

                <!-- BEGIN CONTENT -->
                <div class=" content-page">

                    <!-- BEGIN CONTENT HEADER -->
                    <div class="header content rows-content-header npra-bg">

                        <!-- Button mobile view to collapse sidebar menu -->
                        <button class="button-menu-mobile show-sidebar">
                            <i class="fa fa-bars"></i>
                        </button>

                      
                    </div>
                    <!-- END CONTENT HEADER -->




                    <!-- ============================================================== -->
                    <!-- START YOUR CONTENT HERE -->
                    <!-- ============================================================== -->
                    <div class="body content rows scroll-y">

                       
                        <p:messages autoUpdate="true" globalOnly="true" />

                        <ui:insert name="body"></ui:insert>



                        <!-- Footer -->
                        <footer >
                            <center><strong> &copy; 2015 <a href="http://npra.gov.gh/site/index.php" target="_blank" class="npra-color">National Pensions Regulatory Authority</a></strong></center>
                        </footer>
                        <!-- End Footer -->

                    </div>
                    <!-- ============================================================== -->
                    <!-- END YOUR CONTENT HERE -->
                    <!-- ============================================================== -->


                </div>
                <!-- END CONTENT -->



            </div>











        <script src="#{application.contextPath}/resources/js/bootstrap.min.js"></script>

        <!-- VENDOR -->

        <!-- Slimscroll js -->
        <script src="#{application.contextPath}/resources/third/slimscroll/jquery.slimscroll.min.js"></script>


        <!-- Nifty modals js -->
        <script src="#{application.contextPath}/resources/third/nifty-modal/js/classie.js"></script>
        <script src="#{application.contextPath}/resources/third/nifty-modal/js/modalEffects.js"></script>


        <!-- LANCENG TEMPLATE JAVASCRIPT -->
        <script src="#{application.contextPath}/resources/js/lanceng.js"></script>

        <script language="javascript" type="text/javascript">
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
            $(document).ready(function () {
                $("a").tooltip();
            });
            function extnder() {
                this.cfg.sortData = false;
            }
            function grid:{
                drawBorder:false;
            }
        </script>
    </h:body>
</html>

